<div class="myform">
  <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
    <h2>Register Form</h2>
    <input
      id="name"
      type="text"
      formControlName="name"
      placeholder="Enter your name"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
    />

    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is Required</div>
    </div>
    <br /><br />

    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Enter your email"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">email is Required</div>
    </div>
    <br /><br />

    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Enter your password"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">password is Required</div>
    </div>
    <br /><br />

    <input
      id="age"
      type="text"
      formControlName="age"
      placeholder="Enter your age"
      [ngClass]="{ 'is-invalid': submitted && f.age.errors }"
    />
    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
      <div *ngIf="f.age.errors.required">age is Required</div>
    </div>
    <br /><br />

    <Select
      id="role"
      type="text"
      formControlName="role"
      ngDefaultControl
      [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
    >
      <option>user</option>
      <option>system</option>
      <option>admin</option>
      <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
        <div *ngIf="f.role.errors?.required">role is Required</div>
      </div></Select
    ><br /><br />

    <button class="btn btn-info" type="submit" id="submitbtn">Submit</button>
  </form>
</div>

<p>Today's message:{{ message }}</p>
<label for="item-input">Add message:</label>
<input type="text" id="item-input" #newItem />
<button type="button" (click)="addNewItem(newItem.value)">Add</button>
